@import '~antd/dist/antd.css';

h1,h2,h3,h4,h5,h6,p,b{
  margin: 0px;
}

.elevate { 
  box-shadow: 1px 2px 5px rgb(219, 219, 219);
}

.fixedToTop{
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 0;
  z-index: 1;
}